*{
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: black;
    padding: 20px 0;
    text-align: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px; /* Increased gap for better spacing */
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px; /* Increased font size */
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  